%script(src='#{static_path(@conn, "/js/typeahead.bundle.min.js")}')  

.row.page-header
  .col-xs-6
    %h1 Person anzeigen
  .float-xs-right.col-xs-3
    %form(action="#{person_path(@conn, :add_keyword, @id)}", method="get")
      #prefetch-keywords
        .input-group
          %input.typeahead.form-control(type="text", name="keyword", placeholder="Stichwort")
          %span.input-group-btn
            %button.btn.btn-outline-primary(type="submit")
              %i.fa.fa-plus
    %script
      var keywords = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: '../../keyword/keywords?for=person'});
      $('#prefetch-keywords .typeahead').typeahead(null, {
      name: 'keyword',
      source: keywords });
  .float-xs-right
    =link("Ändern", to: person_path(@conn, :edit, @id), class: "btn btn-outline-primary")


.row
  .col-xs-12.col-sm-6
    %h4 
      = @person.firstname
      = @person.lastname
    %p
      geboren:
      = heimchen_show_date(@person.born_precision, @person.born_on)
      - if @person.died_precision > 0 do
        , gestorben
        = heimchen_show_date(@person.died_precision, @person.died_on)
    - if @person.comment do
      .blockquote=@person.comment
  .col-xs-12.col-sm-6
    %h4 Stichwörter  
    %ul
      - for c <- Enum.uniq(Enum.map(@keywords, &(&1.category))) do
        %li
          %b=c
          %ul
            - for k <- Enum.filter(@keywords, &(&1.category == c)) do
              %li
                = k.name
                %a{href="#{person_path(@conn, :delete_keyword, k.id)}"}
                  %i.fa.fa-remove

.float-xs-right.footer
  %i.small
    Zuletzt bearbeitet am
    =show_timestamp(@person.updated_at)
    von
    =Heimchen.User.name(@person.user)
