%script(src='#{static_path(@conn, "/js/typeahead.bundle.min.js")}')  

= render(Heimchen.KeywordView, "_addkeyword.html", for: "person", what: "person", id: @id, conn: @conn)
  
.row.page-header
  .col-xs-4
    %h2 Person anzeigen
  = render(Heimchen.SearchView, "_skiplist.html", skiplist: @skiplist, conn: @conn, what: "person")
  .float-xs-right.col-xs-2
    %button.btn.btn-outline-primary(type="button", data-toggle="modal", data-target="#addkeyword")
      %i.fa.fa-plus
      Stichwort
  .float-xs-right.col-xs-2
    %a.btn.btn-outline-primary(href="#{person_path(@conn, :edit, @id)}")
      %i.fa.fa-edit
      Bearbeiten
  .float-xs-right.col-xs-1
    %a.btn.btn-outline-primary(href="#{image_path(@conn, :new, person_id: @id)}", title="Bilder hochladen")
      %i.fa.fa-upload
      
.row
  .col-xs-12.col-sm-6
    %h4 
      = @person.firstname
      = @person.lastname
      - if @person.gender == "m" do
        %i.fa.fa-male
      - else
        %i.fa.fa-female
    %p
      geboren:
      = heimchen_show_date(@person.born_precision, @person.born_on)
      - if @person.died_precision > 0 do
        , gestorben
        = heimchen_show_date(@person.died_precision, @person.died_on)
    - if @person.comment do
      .blockquote=@person.comment
    - if !Enum.empty?(@relatives) do
      %h4 Verwandte
      - for r <- @relatives do
        - if r.person1_id == @person.id do
          =r.relname
          =link("#{r.person2.firstname} #{r.person2.lastname}", to: person_path(@conn, :show, r.person2_id))
        - else
          - if r.relname_back && String.length(r.relname_back) > 0 do
            = r.relname_back
          - else
            = r.relname
          =link("#{r.person1.firstname} #{r.person1.lastname}", to: person_path(@conn, :show, r.person1_id))
          
  .col-xs-12.col-sm-6
    =render(Heimchen.KeywordView, "_keywordlist.html",conn: @conn,id: @person.id,keywords: @person.keywords,what: "person")
    - if !Enum.empty?(@person.places_people) do
      %h4 Orte
      %ul
        - for pp <- @person.places_people do
          %li
            Datum:
            =heimchen_show_date(pp.start_precision, pp.start_on)
            =link(pp.place.city <> " " <> pp.place.address, to: place_path(@conn, :show, pp.place_id))
            =pp.comment
            %a{href="#{person_path(@conn, :delete_place, pp.id)}"}
              %i.fa.fa-remove

    - if !Enum.empty?(@person.items) do
      %h4 Von dieser Person erhalten
      %ul
        - for item <- @person.items do
          %li
            =link(item.name, to: item_path(@conn, :show, item.id))
            =item.received_comment

=link("Mark", to: person_path(@conn, :mark_person, @person.id))
- if @marked && @marked != "#{@person.id}" do
  /
  =link("Merge", to: person_path(@conn, :merge_person, @person.id, 0))

=render(Heimchen.ImageView, "_tagged_images.html", conn: @conn, tagged: @person, what: "person")                  
=render(Heimchen.LayoutView, "_footer.html", at: @person.updated_at, user: @person.user)
