%script(src='#{static_path(@conn, "/js/typeahead.bundle.min.js")}')  

.row.page-header
  .col-xs-6
    %h1 Person anzeigen
  .float-xs-right.col-xs-3
    %form(action="#{person_path(@conn, :add_keyword, @id)}", method="get")
      #prefetch-keywords
        .input-group
          %input.typeahead.form-control(type="text", name="keyword", placeholder="Stichwort")
          %span.input-group-btn
            %button.btn.btn-outline-primary(type="submit")
              %i.fa.fa-plus
    %script
      var bloodHound = new Bloodhound({ datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace, prefetch: '../../keyword/keywords?for=person'});
      $('#prefetch-keywords .typeahead').typeahead(null, {name: 'keyword', source: bloodHound });
      bloodHound.clearPrefetchCache(); bloodHound.initialize();
  .float-xs-right
    %a.btn.btn-outline-primary(href="#{person_path(@conn, :edit, @id)}")
      %i.fa.fa-edit
      Bearbeiten
  .float-xs-right.col-xs-1
    %a.btn.btn-outline-primary(href="#{image_path(@conn, :new, person_id: @id)}", title="Bilder hochladen")
      %i.fa.fa-upload
      
.row
  .col-xs-12.col-sm-6
    %h4 
      = @person.firstname
      = @person.lastname
      - if @person.gender == "m" do
        %i.fa.fa-male
      - else
        %i.fa.fa-female
    %p
      geboren:
      = heimchen_show_date(@person.born_precision, @person.born_on)
      - if @person.died_precision > 0 do
        , gestorben
        = heimchen_show_date(@person.died_precision, @person.died_on)
    - if @person.comment do
      .blockquote=@person.comment
  .col-xs-12.col-sm-6
    =render(Heimchen.KeywordView, "_keywordlist.html",conn: @conn,id: @person.id,keywords: @person.keywords,what: "person")
    - if !Enum.empty?(@person.places_people) do
      %h4 Orte
      %ul
        - for pp <- @person.places_people do
          %li
            Datum:
            =heimchen_show_date(pp.start_precision, pp.start_on)
            =link(pp.place.city <> " " <> pp.place.address, to: place_path(@conn, :show, pp.place_id))
            =pp.comment
            %a{href="#{person_path(@conn, :delete_place, pp.id)}"}
              %i.fa.fa-remove

=render(Heimchen.ImageView, "_tagged_images.html", conn: @conn, tagged: @person)                  

=render(Heimchen.LayoutView, "_footer.html", at: @person.updated_at, user: @person.user)
