%h2{style: "margin-top: 10px"}=@headline
- if @results == [] do
  %i keine Ergebnisse
- else
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Kommentar
        %th Bild
        %td
    %tbody
      - for r <- @results do
        %tr
          %td
            =catname(r.what)
            =link(r.name, to: result_path(@conn, r.what, r.id))
          %td
            =r.comment
            - for k <- r.keywords do
              %i.fa.fa-key
              =link("#{k.category}: #{k.name}", to: keyword_path(@conn, :show, k.id))
            - for it <- (r[:imagetags] || []) do
              %a{href: "#{imagetag_backlink(@conn, it)}"}
                =Heimchen.Imagetag.name(it)
          %td
            - if r.image_id do
              %a{href="#{result_path(@conn, r.what, r.id)}"}
                %img(src="#{image_path(@conn, :image, r.image_id, 1)}")
          %td=editlink(@conn, r.what, r.id)
