%script(src='#{static_path(@conn, "/js/typeahead.bundle.min.js")}')  

= render(Heimchen.KeywordView, "_addkeyword.html", for: "place", what: "place", id: @id, conn: @conn)
  
.row.page-header
  .col-xs-4
    %h2 Ort anzeigen
  = render(Heimchen.SearchView, "_skiplist.html", skiplist: @skiplist, conn: @conn, what: "place")
  .float-xs-right.col-xs-2
    %button.btn.btn-outline-primary(type="button", data-toggle="modal", data-target="#addkeyword")
      %i.fa.fa-plus
      Stichwort
  .float-xs-right.col-xs-2
    %a.btn.btn-outline-primary(href="#{place_path(@conn, :edit, @id)}")
      %i.fa.fa-edit
      Bearbeiten
  .float-xs-right.col-xs-1
    %a.btn.btn-outline-primary(href="#{image_path(@conn, :new, place_id: @id)}", title="Bilder hochladen")
      %i.fa.fa-upload
  - if !(@place.lat && @place.long) do
    .float-xs-right.col-xs-1
      %a{href="#{place_path(@conn, :getlatlong, @place.id)}",class="btn btn-outline-primary",title="Länge/breite bei Google abfragen"}
        %i.fa.fa-globe

.row
  .col-xs-12.col-sm-6
    %h4 
      = Heimchen.Place.longname(@place)
    - if @place.comment do
      .blockquote=@place.comment
  .col-xs-12.col-sm-6
    =render(Heimchen.KeywordView, "_keywordlist.html",conn: @conn,id: @place.id,keywords: @place.keywords,what: "place")
    - if @place.lat && @place.long do
      #map{style="height: 300px"}
      %script
        ="var map;"
        ="var mappos={lat:#{@place.lat}, lng: #{@place.long}};"
        =raw("function initMap(){map = new google.maps.Map(document.getElementById('map'),{center:mappos,zoom: 14});")
        ="var marker = new google.maps.Marker({position:mappos, map: map});"
        ="};"
      %script{src="https://maps.googleapis.com/maps/api/js?key=#{@googleapikey}&amp;callback=initMap", async , defer}

- if !Enum.empty?(@place.places_items) do
  %h4 Sammlungs-Stücke mit Bezug zu diesem Ort
  %ul
    - for pi <- @place.places_items do
      %li
        =link(pi.item.name, to: item_path(@conn, :show, pi.item_id))
        %i
          =pi.comment

- if !Enum.empty?(@place.places_people) do
  %h4 Personen mit Bezug zu diesem Ort
  %ul
    - for pp <- @place.places_people do
      %li
        =link(Heimchen.Person.name(pp.person), to: person_path(@conn, :show, pp.person_id))
        %i
          =pp.comment

=render(Heimchen.ImageView, "_tagged_images.html", conn: @conn, tagged: @place, what: "place")

- if !Enum.empty?(@nearby) do
  =render(Heimchen.SearchView, "index.html", results: @nearby, headline: "Orte in der Nähe", conn: @conn)

=render(Heimchen.LayoutView, "_footer.html", at: @place.updated_at, user: @place.user)  
