- if length(@items) > 0 do
  %table.table.table-hover
    %thead
      %tr
        %th Bezeichnung
        %th Kategorie
        %th Bild
        %th Stichwörter
        %th
    %tbody
      = for item <- @items do
        %tr
          %td= link(item.name, to: item_path(@conn, :show, item.id))
          %td= item.itemtype.name
          %td
            - if !Enum.empty?(item.imagetags) do
              %img(src= "#{image_path(@conn, :image, List.first(item.imagetags).image_id, 1)}")
          %td= Enum.join(Enum.map(item.keywords, fn(k) -> k.category <> ": " <> k.name end), ", ")
          %td
            %a{href: "#{item_path(@conn, :edit, item.id)}"}
              %i.fa.fa-edit
      - end
- else
  .row.page-header
    .col-xs-12
      %i Keine Einträge
