%script(src='#{static_path(@conn, "/js/typeahead.bundle.min.js")}')

= render(Heimchen.KeywordView, "_addkeyword.html", for: @item.itemtype.sid, what: "item", id: @id, conn: @conn)
    
.row.page-header
  .col-xs-4
    %h2 Eintrag anzeigen
  = render(Heimchen.SearchView, "_skiplist.html", skiplist: @skiplist, conn: @conn, what: "item")
  .float-xs-right.col-xs-2
    %button.btn.btn-outline-primary(type="button", data-toggle="modal", data-target="#addkeyword")
        %i.fa.fa-plus
        Stichwort
  .float-xs-right.col-xs-2
    %a.btn.btn-outline-primary(href="#{item_path(@conn, :edit, @id)}")
        %i.fa.fa-edit
        Bearbeiten
  .float-xs-right.col-xs-1
      %a.btn.btn-outline-primary(href="#{image_path(@conn, :new, item_id: @id)}")
        %i.fa.fa-upload
.row
  .col-xs-12.col-sm-6
    %h4="#{@item.name} (#{@item.itemtype.name})"
    - if @item.date_precision  && @item.date_precision > 0 do
      %i= heimchen_show_date(@item.date_precision, @item.date_on)
    %p=@item.comment
    %dl
      - if @item.received_by do
        %dt Erhalten von
        %dd
          =link(Heimchen.Person.name(@item.received_by), to: person_path(@conn, :show, @item.received_by.id))
          %i=@item.received_comment
      - if @item.inventory do
        %dt Inventarnummer
        %dd= @item.inventory

  .col-xs-12.col-sm-6
    =render(Heimchen.KeywordView, "_keywordlist.html",conn: @conn,id: @item.id,keywords: @item.keywords,what: "item")
    - if !Enum.empty?(@item.places_items) do
        %h4 Orte
        %ul
          - for pi <- @item.places_items do
              %li
                  Datum:
                  =heimchen_show_date(pi.start_precision, pi.start_on)
                  =link(Heimchen.Place.longname(pi.place), to: place_path(@conn, :show, pi.place_id))
                  =pi.comment
                  %a{href="#{item_path(@conn, :delete_place, pi.id)}", onclick="return confirm('Verknüpfung wirklich entfernen?')"}
                      %i.fa.fa-remove

=link("Vormerken", to: item_path(@conn, :mark_item, @item.id))
- if @marked && @marked != "#{@item.id}" do
  /
  =link("Zusammenführen", to: item_path(@conn, :merge_item, @item.id, 0))


                        
=render(Heimchen.ImageView, "_tagged_images.html", conn: @conn, tagged: @item, what: "item")              
=render(Heimchen.LayoutView, "_footer.html", at: @item.updated_at, user: @item.user)
