%script(src='#{static_path(@conn, "/js/typeahead.bundle.min.js")}')

.row.page-header
  .col-xs-6
    %h1 Eintrag anzeigen
  .float-xs-right.col-xs-3
    %form(action="#{item_path(@conn, :add_keyword, @id)}", method="get")
      #prefetch-keywords
        .input-group
          %input.typeahead.form-control(type="text", name="keyword", placeholder="Stichwort")
          %span.input-group-btn
            %button.btn.btn-outline-primary(type="submit")
              %i.fa.fa-plus
    %script
      var bloodHound = new Bloodhound({ datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      =raw("prefetch: '../../keyword/keywords?for=#{@item.itemtype.sid}'});")
      $('#prefetch-keywords .typeahead').typeahead(null, {name: 'keyword', source: bloodHound });
      bloodHound.clearPrefetchCache(); bloodHound.initialize();
  .float-xs-right
    %a.btn.btn-outline-primary(href="#{item_path(@conn, :edit, @id)}")
      %i.fa.fa-edit
      Bearbeiten
  .float-xs-right.col-xs-1
    %a.btn.btn-outline-primary(href="#{image_path(@conn, :new, item_id: @id)}")
      %i.fa.fa-upload

.row
  .col-xs-12.col-sm-6
    %h4="#{@item.name} (#{@item.itemtype.name})"
    - if @item.date_precision  && @item.date_precision > 0 do
      %i= heimchen_show_date(@item.date_precision, @item.date_on)
    %p=@item.comment
    %dl
      - if @item.received_by do
        %dt Erhalten von
        %dd
          =link(Heimchen.Person.name(@item.received_by), to: person_path(@conn, :show, @item.received_by.id))
          %i=@item.received_comment
      - if @item.inventory do
        %dt Inventarnummer
        %dd= @item.inventory

  .col-xs-12.col-sm-6
    =render(Heimchen.KeywordView, "_keywordlist.html",conn: @conn,id: @item.id,keywords: @item.keywords,what: "item")
    - if !Enum.empty?(@item.places_items) do
      %h4 Orte
      %ul
        - for pi <- @item.places_items do
          %li
            Datum:
            =heimchen_show_date(pi.start_precision, pi.start_on)
            =link(Heimchen.Place.longname(pi.place), to: place_path(@conn, :show, pi.place_id))
            =pi.comment
            %a{href="#{item_path(@conn, :delete_place, pi.id)}", onclick="return confirm('Verknüpfung wirklich entfernen?')"}
              %i.fa.fa-remove
=render(Heimchen.ImageView, "_tagged_images.html", conn: @conn, tagged: @item)              

.float-xs-right.footer
  %i.small
    Zuletzt bearbeitet am
    =show_timestamp(@item.updated_at)
    von
    =Heimchen.User.name(@item.user)
