%script(src='#{static_path(@conn, "/js/typeahead.bundle.min.js")}')  

.row.page-header
  .col-xs-12
    %h1 Zwischenablage Bilddateien
      .float-xs-right(style="padding-right: 8px")
        =link("Alle löschen", to: image_path(@conn, :new), class: "btn btn-outline-danger")
      .float-xs-right(style="padding-right: 8px")
        =link("Leeren", to: image_path(@conn, :clipboard_empty), class: "btn btn-outline-primary")
      .float-xs-right.col-xs-3(style="padding-right: 8px;margin-top: 7px;")
        %form(action="#{image_path(@conn, :clipboard_mark)}", method="get")
          #prefetch-marklist
            .input-group
              %input.typeahead.form-control(type="text", name="mark", placeholder="Markierung")
              %span.input-group-btn
                %button.btn.btn-outline-primary(type="submit")
                  %i.fa.fa-plus
        %script
          var bloodHound = new Bloodhound({ datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace, prefetch: {url: 'marklist', ttl: 3000}});
          $('#prefetch-marklist .typeahead').typeahead(null, {name: 'mark', source: bloodHound });
          bloodHound.clearPrefetchCache(); bloodHound.initialize();

.card-columns        
  - for image <- @images do
    .card(style="width: 160px;margin:5px;")
      %a(href="#{image_path(@conn, :show, image.id)}")
        %img.card-img-top.img-fluid(src="#{image_path(@conn, :image, image.id, 1)}")
        .card-block  
          %p.card-subtitle.small
            - if image.imagetags == [] do
              ="#{image.original_filename}"
            - else 
              - for it <- image.imagetags do
                - if it.person_id do
                  %a(href="#{person_path(@conn, :show, it.person_id)}")
                    ="#{it.person.firstname}"
                    ="#{it.person.lastname}"
                - if it.item_id do
                  %a(href="#{item_path(@conn, :show, it.item_id)}")
                    =Heimchen.Item.longname(it.item)
      .card-footer
        %i.fa.fa-ban.spanlink(onclick="image_cp_remove(#{image.id})", id="image_cp_#{image.id}")
