%h1.page-header Bilddateien hochladen
.row
  = form_for @conn, image_path(@conn, :create), [as: :upload, multipart: true], fn f ->
    .form-group.row
      =hidden_input f, :item_id, value: @item_id
      =hidden_input f, :person_id, value: @person_id
      =hidden_input f, :place_id, value: @place_id
      %label.col-form-label.col-sm-2(for="upload_file") Datei
      .col-sm-10
        =file_input f, :file, class: "form-control"
        %p.form-text.text-muted
          Einzelne Bild-Datei in einem Standard-Format (JPEG, PNG) oder eine ZIP-Datei mit solchen Dateien
    .form-group.row
      %label.col-form-label.col-sm-2(for="upload_attachment") Anhang
      .col-sm-10
        =file_input f, :attachment, class: "form-control"
        %p.form-text.text-muted
          Anhang (zB PDF, Word oder ZIP-Datei). 
    .form-group.row
      %label.col-form-label.col-sm-2(for="upload_comment") Kommentar
      .col-sm-10
        =textarea f, :comment, class: "form-control"
    .form-group.row
      .col-sm-10.offset-sm-2
        %button.btn.btn-primary(type="submit") Hochladen
  - end
.row
  .col-sm-10.offset-sm-2
    - if (@item_id || @place_id || @person_id) do
      Alle Bilddateien werden direkt
      - if @item_id do
        =link("#{@item.name}", to: item_path(@conn, :show, @item.id))
      - if @place_id do
        =link("#{@place.city} #{@place.address}", to: place_path(@conn, :show, @place.id))
      - if @person_id do
        =link("#{@person.firstname} #{@person.lastname}", to: person_path(@conn, :show, @person.id))
      zugeordnet
