.row.page-header
  .col-xs-12
    %h1 Datei-Details
      .float-xs-right(style="padding-right: 8px")
        %a(href="#{image_path(@conn, :add_and_show_clipboard, @id)}", class: "btn btn-outline-primary")
          = "In die Zwischenablage (#{@clipboard_n})"
%h1.page-header 
.row
  .col-sm-4
    = form_for @changeset, image_path(@conn, :update, @id), fn f ->
      .form-group.row
        %label.col-form-label.col-sm-3(for="image_comment") Kommentar
        .col-sm-9
          =textarea f, :comment, class: "form-control"
      .form-group.row
        .col-sm-10.offset-sm-3
          %button.btn.btn-primary(type="submit") Speichern
    - end
  .col-sm-8
    .row
      .col-sm-3 Dateiname:
      .col-sm-9
        %tt=link(@changeset.data.original_filename, to: image_path(@conn, :image, @id, 4))
    .row
      .col-sm-3 Auflösung:
      .col-sm-9
        %tt="#{@changeset.data.orig_w}x#{@changeset.data.orig_w}"
    .row
      .col-sm-3  Verknüpfungen:
      .col-sm-9
        %script
          imagetag_colorindex=0
        - Enum.map @changeset.data.imagetags, fn(it) ->
          %a{href: "#{if it.person_id do person_path(@conn, :show, it.person_id) else item_path(@conn, :show, it.item_id) end}",id="itlink_#{it.id}"}
            %i.fa.fa-link(id="connection_#{it.id}")
              %script
                =raw("$('#connection_#{it.id}').css('color', imagetag_colors[imagetag_colorindex]);")
                imagetag_colorindex++
            =Heimchen.Imagetag.name(it)
          =it.comment
          %a{href: "#{image_path(@conn, :edit_imagetag, it.id)}"}
            %i.fa.fa-edit
          %br
          %script
            =raw("$(window).one('load', function(){attach_canvas('img-cont',#{elem(Poison.encode(it.marks||'{}'),1)}, imagetag_colors[imagetag_colorindex]);imagetag_colorindex++});")
    %script
      imagetag_colorindex=0

    - if @changeset.data.exif do      
      .row
        .col-sm-3
          Zusatz-Infos:
        .col-sm-9
          %button.btn.btn-secondary{data-toggle="collapse", type="button" data-target="#exifData", aria-expanded="false", aria-controls="exifData")
            Einblenden
            %i.fa.fa-caret-down(aria-hidden="true")
          .collapse#exifData
            %dl.row
              - for {k,v} <- @changeset.data.exif do
                %dt.col-sm-6=k
                %dd.col-sm-6.text-truncate=v

.row
  
    
.row
  .col-sm-12
    .canvas-container#img-cont
      %img.rounded.d-block#ipreview(src="#{image_path(@conn, :image, @id, 2)}")
